@model LesPizzas.Models.Pizza

@{
    ViewBag.Title = "Supression";
}

<h2>Supression d'une pizza</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @Html.Partial("_PizzaDetails", Model)

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supression" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la carte", "Index")
        </div>
    }
</div>
